Файлы именуются в виде "Фамилия\_Группа\_Вар\_номер.ipynb". Пример: "Милованов\_ПИ1-2\_Вар\_1.ipynb"

Не забываем про try-except. Везде, где вы считаете, что может вылететь ошибка, вставляем try except

Даны файлы students.csv, results.csv, groups.csv, subjects.csv, teachers.csv. Разделены ";"

Файл groups.csv имеет столбцы id, text_name, entry_year, где id - уникиальный идентификатор группы, text_name - наименование группы, entry_year - год поступления. 

students.csv имеет следующие столбцы: id, first_name, last_name, group_id, где id - уникальный идентификатор студента (номер зачетной книжки), first_name - Имя, last_name - фамилия, group_id - идентификатор группы, в которой он учится.

result.csv имеет следующие столбцы: id - уникальный идентификатор записи, subject_id - идентификатор учебного предмета, student_id - уникальный идентификатор студента, att1 - результат первой аттестации, att2 - результат второй аттестации, exam - результат экзаменнационной или зачетной работы, total - общий результат, teacher_id - уникальный идентификатор преподавателя.

subjects.csv имеет следующие столбцы: id - уникальный идентификатор предмета, subject_name - наименование предмета.

teachers.csv: id - уникальный идентификатор преподавателя, first_name - Имя, last_name - фамилия, middle_name - отчество

In [2]:
import csv

results = []
with open('./Downloads/results.csv', encoding = 'cp1251') as csvfile:
    reader = csv.DictReader(csvfile, delimiter=';')
    for row in reader:
        results.append(row)

students = {}
with open('./Downloads/students.csv', encoding = 'cp1251') as csvfile:
    reader = csv.DictReader(csvfile, delimiter=';')
    for row in reader:
        students[row['id']] = row
        
teachers = []
with open('./Downloads/teachers.csv', encoding = 'cp1251') as csvfile:
    reader = csv.DictReader(csvfile, delimiter=';')
    for row in reader:
        teachers.append(row)
        teachers[-1]['students'] = []
        teachers[-1]['groups'] = set()
        teachers[-1]['subjects'] = set()
        
groups = []
with open('./Downloads/groups.csv', encoding = 'cp1251') as csvfile:
    reader = csv.DictReader(csvfile, delimiter=';')
    for row in reader:
        groups.append(row)
        
subjects = {}
with open('./Downloads/subjects.csv', encoding='cp1251') as csvfile:
    reader = csv.DictReader(csvfile, delimiter=';')
    for row in reader:
        subjects[row['id']] = row['subject_name']

In [3]:
results[0]

OrderedDict([('id', '1'),
             ('subject', '1'),
             ('student_id', '151301'),
             ('teacher_id', '7'),
             ('att1', '19'),
             ('att2', '13'),
             ('exam', '48'),
             ('total', '80')])

In [4]:
students['151301'] # students -> group

OrderedDict([('id', '151301'),
             ('last_name', 'Абарыков'),
             ('first_name', 'Андрей'),
             ('group_id', '13')])

In [5]:
subjects

{'1': 'Web-программирование',
 '2': 'Алгоритмы и структуры данных',
 '3': 'Английский язык',
 '4': 'Базы данных',
 '5': 'Вычислительные системы и сетевые телекоммуникации',
 '6': 'Дискретная математика',
 '7': 'Институциональная экономика',
 '8': 'Информационная безопасность',
 '9': 'Информационные системы и технологии',
 '10': 'Корпоративные информационные системы',
 '11': 'Линейная алгебра',
 '12': 'Макроэкономика',
 '13': 'Математический анализ',
 '14': 'Микроэкономика',
 '15': 'Программированиие облачных приложений',
 '16': 'Программная инженерия',
 '17': 'Реинжиниринг бизнес-процессов',
 '18': 'Современные языки программирования',
 '19': 'Философия',
 '20': 'Функциональное программирование'}

In [6]:
groups[0]

OrderedDict([('id', '1'), ('name', 'ПИ1-1'), ('entry_year', '2018')])

In [7]:
groups

[OrderedDict([('id', '1'), ('name', 'ПИ1-1'), ('entry_year', '2018')]),
 OrderedDict([('id', '2'), ('name', 'ПИ1-2'), ('entry_year', '2018')]),
 OrderedDict([('id', '3'), ('name', 'ПИ1-3'), ('entry_year', '2018')]),
 OrderedDict([('id', '4'), ('name', 'ПИ1-4'), ('entry_year', '2018')]),
 OrderedDict([('id', '5'), ('name', 'ПМ1-1'), ('entry_year', '2018')]),
 OrderedDict([('id', '6'), ('name', 'ПМ1-2'), ('entry_year', '2018')]),
 OrderedDict([('id', '7'), ('name', 'ПМ1-3'), ('entry_year', '2018')]),
 OrderedDict([('id', '8'), ('name', 'ПМ1-4'), ('entry_year', '2018')]),
 OrderedDict([('id', '9'), ('name', 'ПИ2-2'), ('entry_year', '2017')]),
 OrderedDict([('id', '10'), ('name', 'ПМ1-5'), ('entry_year', '2018')]),
 OrderedDict([('id', '13'), ('name', 'ПИ4-1'), ('entry_year', '2015')]),
 OrderedDict([('id', '14'), ('name', 'ПИ4-2'), ('entry_year', '2015')]),
 OrderedDict([('id', '15'), ('name', 'ПИ4-3'), ('entry_year', '2015')])]

In [8]:
teachers[0]

OrderedDict([('id', '1'),
             ('last_name', 'Милованов'),
             ('first_name', 'Даниил'),
             ('middle_name', 'Михайлович'),
             ('students', []),
             ('groups', set()),
             ('subjects', set())])

In [9]:
results[0]

OrderedDict([('id', '1'),
             ('subject', '1'),
             ('student_id', '151301'),
             ('teacher_id', '7'),
             ('att1', '19'),
             ('att2', '13'),
             ('exam', '48'),
             ('total', '80')])

In [10]:
for res in results:
    teachers[int(res['teacher_id']) - 1]['students'].append(res['student_id'])
    teachers[int(res['teacher_id']) - 1]['groups'].add(students[res['student_id']]['group_id'])
    teachers[int(res['teacher_id']) - 1]['subjects'].add(res['subject'])

In [11]:
for teacher in teachers:
    print('Teacher {} groups {}'.format(teacher['id'], teacher['groups']))

Teacher 1 groups {'5', '4', '10', '6', '7', '13', '3', '1', '14', '15', '2'}
Teacher 2 groups {'4', '10', '13', '3', '1', '8', '14', '15'}
Teacher 3 groups {'5', '4', '6', '9', '7', '10', '13', '3', '8', '2'}
Teacher 4 groups {'5', '4', '10', '9', '7', '6', '3', '1', '8', '14', '15', '2'}
Teacher 5 groups {'5', '4', '6', '10', '7', '9', '13', '3', '1', '8', '15', '2'}
Teacher 6 groups {'5', '4', '6', '7', '9', '13', '3', '1', '8', '14', '15'}
Teacher 7 groups {'4', '6', '9', '7', '13', '3', '1', '8', '15', '2'}
Teacher 8 groups {'4', '10', '9', '6', '7', '13', '3', '1', '8', '14', '15', '2'}
Teacher 9 groups {'5', '4', '10', '9', '7', '6', '13', '3', '1', '8', '14', '15', '2'}
Teacher 10 groups {'5', '4', '7', '9', '13', '3', '1', '8', '14', '15', '2'}
Teacher 11 groups {'10', '9', '7', '6', '13', '3', '8', '14', '15', '2'}

In [12]:
for teacher in teachers:
    print('Teacher {} subjects {}'.format(teacher['id'], teacher['subjects']))

Teacher 1 subjects {'5', '4', '18', '6', '10', '12', '13', '3', '1', '11', '8', '20', '14', '19', '2'}
Teacher 2 subjects {'16', '17', '13', '3', '11', '8', '20', '14', '19', '2'}
Teacher 3 subjects {'4', '16', '18', '6', '10', '12', '13', '3', '19', '1', '11', '20', '14', '15', '2'}
Teacher 4 subjects {'5', '4', '16', '18', '10', '7', '9', '17', '12', '13', '3', '1', '11', '8', '14', '19', '2'}
Teacher 5 subjects {'5', '4', '18', '6', '7', '9', '17', '12', '13', '3', '1', '11', '15', '2'}
Teacher 6 subjects {'4', '16', '18', '6', '7', '9', '10', '13', '3', '1', '20', '8', '14', '15', '12'}
Teacher 7 subjects {'5', '4', '16', '6', '7', '9', '17', '13', '1', '20', '8', '14', '15', '2'}
Teacher 8 subjects {'5', '4', '16', '18', '10', '7', '9', '17', '12', '13', '3', '1', '11', '8', '20', '14', '15', '2'}
Teacher 9 subjects {'5', '4', '16', '6', '1', '14', '15', '10', '9', '17', '13', '3', '8', '18', '7', '11', '20', '19', '12'}
Teacher 10 subjects {'4', '18', '6', '7', '10', '17', '12', '13', '19', '1', '20', '8', '14', '15', '2'}
Teacher 11 subjects {'5', '18', '7', '9', '12', '13', '3', '19', '11', '8', '20', '15', '2'}

1. Написать функцию, которая принимает id преподавателя и id группы. Функция возвращает False, если данный преподаватель не преподавал у данной группы, None, если такого прподавателя не существует, иначе возвращается словарь, в котором ключами являются наименования предметов, а значениями словари, которые хранят в себе информации о количестве студентов, сдавших на 5, 4, 3 и 2 по данному предмету.

In [245]:
5.09 in teachers[0]['groups']

False

In [13]:
def f1(id_teach, id_group):
    try:
        teacher = teachers[id_teach - 1] 
    except IndexError:
        return None
    
    if str(id_group) not in teacher['groups']:
        return False
    
    data = {}
    for res in results:
        if res['teacher_id'] == str(id_teach) and students[res['student_id']]['group_id'] == str(id_group):
            if subjects[res['subject']] not in data.keys():
                data['{}'.format(subjects[res['subject']])] = {'5': 0, '4': 0, '3': 0, '2': 0} 
                
            key = ''
            if int(res['total']) >= 80:
                key = '5'
            elif int(res['total']) >= 65:
                key = '4'
            elif int(res['total']) >= 50:
                key = '3'
            else:
                key = '2'
            
            data['{}'.format(subjects[res['subject']])][key] += 1
    return data

In [14]:
teachers[0]['groups']

{'1', '10', '13', '14', '15', '2', '3', '4', '5', '6', '7'}

In [15]:
f1(1, 8)

False

In [16]:
str(f1(100, 2))

'None'

In [17]:
teachers[1]['groups']

{'1', '10', '13', '14', '15', '3', '4', '8'}

In [18]:
f1(2, 15)

{'Философия': {'5': 1, '4': 4, '3': 4, '2': 9}}

In [19]:
teachers[1]['groups']

{'1', '10', '13', '14', '15', '3', '4', '8'}

In [20]:
f1(4, 15)

{'Институциональная экономика': {'5': 2, '4': 2, '3': 3, '2': 11}}

In [21]:
f1(5, 1)

{'Информационные системы и технологии': {'5': 3, '4': 6, '3': 9, '2': 9},
 'Современные языки программирования': {'5': 6, '4': 5, '3': 5, '2': 11}}

2. Написать функцию, которая принимает ФИО преподавателя и необязательный параметр to_json, который по умолчанию равен False и принимает имя файла. Если указан параметр to_json, то он должен сохранить итоговый результат в данный файл и вернуть значение True, иначе просто вернуть словарь. В словаре ключами являются наименования групп, в которых он преподавал, а значениям - результат выполнения первой функции.

In [22]:
def f2(teach_fio, to_json=False): 
    flag = 0
    for teacher in teachers:
        if ' '.join([teacher['last_name'], teacher['first_name'], teacher['middle_name']]) == teach_fio:
            flag = 1
            break
    
    if to_json:
        # save to file
        return True
    elif flag:
        data = {}
        for i in teacher['groups']:
            data[i] = f1(int(teacher['id']), i)
        return data
    else:
        print('Teacher not found')
        return None

In [23]:
f2('Милованов Даниил Михайлович')

{'5': {'Информационная безопасность': {'5': 3, '4': 10, '3': 4, '2': 9},
  'Корпоративные информационные системы': {'5': 2, '4': 6, '3': 8, '2': 10}},
 '4': {'Линейная алгебра': {'5': 3, '4': 4, '3': 10, '2': 9},
  'Современные языки программирования': {'5': 3, '4': 7, '3': 9, '2': 7}},
 '10': {'Английский язык': {'5': 5, '4': 7, '3': 3, '2': 10}},
 '6': {'Web-программирование': {'5': 4, '4': 9, '3': 4, '2': 7},
  'Вычислительные системы и сетевые телекоммуникации': {'5': 1,
   '4': 8,
   '3': 3,
   '2': 12},
  'Дискретная математика': {'5': 3, '4': 6, '3': 6, '2': 9}},
 '7': {'Алгоритмы и структуры данных': {'5': 1, '4': 9, '3': 9, '2': 5},
  'Базы данных': {'5': 4, '4': 9, '3': 8, '2': 3},
  'Дискретная математика': {'5': 5, '4': 6, '3': 3, '2': 10},
  'Микроэкономика': {'5': 5, '4': 5, '3': 5, '2': 9},
  'Функциональное программирование': {'5': 2, '4': 10, '3': 4, '2': 8}},
 '13': {'Макроэкономика': {'5': 2, '4': 5, '3': 2, '2': 9},
  'Математический анализ': {'5': 2, '4': 9, '3': 3, '2': 4}},
 '3': {'Дискретная математика': {'5': 5, '4': 5, '3': 7, '2': 9}},
 '1': {'Web-программирование': {'5': 4, '4': 6, '3': 6, '2': 11},
  'Микроэкономика': {'5': 3, '4': 11, '3': 5, '2': 8},
  'Философия': {'5': 1, '4': 7, '3': 8, '2': 11}},
 '14': {'Вычислительные системы и сетевые телекоммуникации': {'5': 1,
   '4': 4,
   '3': 7,
   '2': 7},
  'Корпоративные информационные системы': {'5': 4, '4': 5, '3': 4, '2': 6}},
 '15': {'Функциональное программирование': {'5': 2, '4': 6, '3': 5, '2': 5}},
 '2': {'Математический анализ': {'5': 4, '4': 10, '3': 4, '2': 7},
  'Философия': {'5': 0, '4': 9, '3': 4, '2': 12}}}

3. Реализовать функцию, которая принимает параметры entry_year - год поступления, subject_name - наименование предмета и необязаиельный параметр to_json, по умолчанию равный False. Функция должна возвращать словарь со статистикой по группам по данному предмету. Ключами словаря являются id группы, а значениями словари. Внутренний словарь имеет ключи group_name (наименование группы), stats (статистика). Значением ключа статистика является словарь, который возвращает количество студентов получившие оценку 5, количество студентов получившие оценку 4, количество студентов получившие оценку 3, количество студентов получившие оценку 2. Если параметр to_json указан, то сохраняет полученный словарь в указанный файл и возвращает True, иначе просто возвращает словарь.

In [298]:
def f3(entry_year, subject_name, to_json=False):
    if to_json:
        # save to file
        return True
    
    data = {}
    group_ids = [g['id'] for g in groups if g['entry_year'] == str(entry_year)]
    group_names = {g['id']: g['name'] for g in groups if g['entry_year'] == str(entry_year)}
    for res in results:
        if subjects[res['subject']] == subject_name and students[res['student_id']]['group_id'] in group_ids:
            group_id = students[res['student_id']]['group_id']
            
            if group_id not in data.keys():
                data[group_id] = {'group_name': group_names[str(group_id)], 'stats': {'5': 0, '4': 0, '3': 0, '2': 0}}
                
            if int(res['total']) >= 80:
                key = '5'
            elif int(res['total']) >= 65:
                key = '4'
            elif int(res['total']) >= 50:
                key = '3'
            else:
                key = '2'
                
            data[group_id]['stats'][key] += 1                 
    
    return data

In [299]:
f3('2015', 'Философия')

{'13': {'group_name': 'ПИ4-1', 'stats': {'5': 0, '4': 5, '3': 5, '2': 8}},
 '15': {'group_name': 'ПИ4-3', 'stats': {'5': 1, '4': 4, '3': 4, '2': 9}},
 '14': {'group_name': 'ПИ4-2', 'stats': {'5': 1, '4': 5, '3': 8, '2': 5}}}

In [300]:
f3('2018', 'Английский язык')

{'1': {'group_name': 'ПИ1-1', 'stats': {'5': 5, '4': 10, '3': 4, '2': 8}},
 '5': {'group_name': 'ПМ1-1', 'stats': {'5': 4, '4': 4, '3': 8, '2': 10}},
 '7': {'group_name': 'ПМ1-3', 'stats': {'5': 3, '4': 10, '3': 6, '2': 5}},
 '2': {'group_name': 'ПИ1-2', 'stats': {'5': 0, '4': 8, '3': 10, '2': 7}},
 '3': {'group_name': 'ПИ1-3', 'stats': {'5': 2, '4': 6, '3': 9, '2': 9}},
 '8': {'group_name': 'ПМ1-4', 'stats': {'5': 1, '4': 5, '3': 7, '2': 12}},
 '10': {'group_name': 'ПМ1-5', 'stats': {'5': 5, '4': 7, '3': 3, '2': 10}},
 '4': {'group_name': 'ПИ1-4', 'stats': {'5': 2, '4': 9, '3': 4, '2': 11}},
 '6': {'group_name': 'ПМ1-2', 'stats': {'5': 4, '4': 4, '3': 9, '2': 7}}}

1. Реализовать функцию, которая по уникальному идентификатору студента возвращает его сумму баллов по каждому из контрольных мероприятий, в том числе total

In [24]:
def f4(student_id):
    summ = {'att1': 0, 'att2': 0, 'exam': 0, 'total': 0}
    for res in results:
        if res['student_id'] == str(student_id):
            summ['att1'] += int(res['att1'])
            summ['att2'] += int(res['att2'])
            summ['exam'] += int(res['exam'])
            summ['total'] += int(res['total'])
            
    return summ

In [25]:
f4('151301')

{'att1': 252, 'att2': 279, 'exam': 510, 'total': 1041}

2. Реализовать функцию, которая принимает параметры thread - поток в виде (ПИ2018), где буквами является наименование направления, а число - год поступления, необязательный параметр test, который по умолчанию равен total (список возможных значений att1, att2, exam, total), а также необязательный параметр to_json=False. Если параметр указан, то результат выполнения функции должен записываться в файл и функция возвращает True, если такого потока не существует, то возвращает None, иначе возвращает результат функции. Результатом выполнения функции является словарь с рейтингом студентов по указанному из периодов в параметре test. Ключом словаря является место студента в рейтинге, значением - словарь с информацией из файла students.csv, а также информацию, которая возвращается после выполнения первой функции.

In [29]:
def f5(thread, test='total', to_json=False):
    for g in groups:
        exist = (thread[:-4] in g['name'] and g['entry_year']==thread[-4:])
        if exist:
            break
    if to_json:
        # write to file
        return True
    elif not exist:
        return None
    else:
        data = {}
        tmp_data = []
        for student in students.values():
            for g in groups:
                if g['id'] == student['group_id']:
                    g_name = g['name']
                    g_year = g['entry_year']
                    break
            if thread[:-4] in g_name and g_year == thread[-4:]:
                    tmp_data.append(f4(student['id']))
                    tmp_data[-1]['student_id'] = student['id']
                    
        # try test is a str
        try:
            sorted_arr = sorted(tmp_data, key=lambda a: int(a[test]), reverse=True)
        except KeyError:
            print('{} doesnt exist'.format(test))
            return None
        
        for i, el in enumerate(sorted_arr):
            data[i+1] = students[el['student_id']]
            data[i+1][test] = el[test]
                
        return data

In [27]:
rating = f5('ПИ2018')
for i in range(10):
    print(i+1, rating[i+1])

1 OrderedDict([('id', '180323'), ('last_name', 'Спанкулов'), ('first_name', 'Данила'), ('group_id', '3'), ('total', 1328)])
2 OrderedDict([('id', '180318'), ('last_name', 'Павлов'), ('first_name', 'Артём'), ('group_id', '3'), ('total', 1327)])
3 OrderedDict([('id', '180106'), ('last_name', 'Борисов'), ('first_name', 'Михаил'), ('group_id', '1'), ('total', 1273)])
4 OrderedDict([('id', '180404'), ('last_name', 'Борисенко'), ('first_name', 'Никита\xa0'), ('group_id', '4'), ('total', 1272)])
5 OrderedDict([('id', '180112'), ('last_name', 'Златински'), ('first_name', 'Кирил'), ('group_id', '1'), ('total', 1272)])
6 OrderedDict([('id', '180103'), ('last_name', 'Балашов'), ('first_name', 'Михаил'), ('group_id', '1'), ('total', 1254)])
7 OrderedDict([('id', '180206'), ('last_name', 'Горяев'), ('first_name', 'Сангаджи\xa0'), ('group_id', '2'), ('total', 1254)])
8 OrderedDict([('id', '180407'), ('last_name', 'Горячев'), ('first_name', 'Рустам\xa0'), ('group_id', '4'), ('total', 1253)])
9 OrderedDict([('id', '180201'), ('last_name', 'Акаев'), ('first_name', 'Ислам\xa0'), ('group_id', '2'), ('total', 1251)])
10 OrderedDict([('id', '180101'), ('last_name', 'Абдуллина'), ('first_name', 'Дария'), ('group_id', '1'), ('total', 1248)])

In [30]:
f5('ПИ2018', test='lol')

lol doesnt exist

3. Написать функцию, которая принимает  имя группы, год поступления и наименование предмета. Также функция принимает необязательный параметр to_json, который по умолчанию равен False и принимает имя файла. Функция должна вернуть словарь, которая содержит оценки всех студентов данной группы по данному предмету. Ключом является id студента, значением словарь, который содержит полное имя студента и итоговый балл.  Если to_json указывает имя файла, то сохранить результаты в файл и функция возвращает значение True, иначе возвращает получившийся словарь.

In [210]:
def make_full_name(student):
    # todo
    # на вход например students['151301']
    # на выход его полное в виде 'Андрей Абарыков'
    return name
    
def f6(group_name, entry_year, subj_name, to_json=False):
    if to_json:
        # save to file
        return True
    else:
        data = {}
        for res in results:
            for g in groups:
                if g['id'] == students[res['student_id']['group_id']]:
                    curr_group_name = g['name']
                    curr_group_year = g['entry_year']
                    break
            if curr_group_name == group_name and curr_group_year == entry_year and subjects[res['subject']] == subj_name:
                data[res['student_id']] = {'student_name': make_full_name(students[res['student_id']]), 'total': res['total']}
        return data